<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
	<%= render 'admin/users/form', product_new: @product_new %>
	<p></p>
	<% if current_admin.id == 1 %>
    <%= link_to "管理者追加", new_admin_registration_path, class: "btn btn-info" %>
    <% end %>
    <p></p>
	<%= link_to "カテゴリー追加", new_category_path, class: "btn btn-danger" %>
	<%= link_to "アーティスト追加", artists_path , class: "btn btn-danger" %>
	<%= link_to "アニメタイトル追加", animes_path , class: "btn btn-danger" %>
	<% if current_admin.id == 1 %>
    <%= link_to "管理者追加", new_admin_registration_path, class: "btn btn-danger" %>
    <% end %>
	</div>
  </div>
</div>


